# =================================================
# PIPELINE CONFIGURATION
# =================================================

# Database Connection Properties
db_properties:
  aact:
    type: postgresql
    uri: localhost:5432/aact # aact-db.ctti-clinicaltrials.org:5432/aact
    schema: ctgov
    user: null
    password: null
  
  chembl:
    type: oracle
    host: ora-vm-089
    port: 1531
    service: CHEMPRO
    user: null
    password: null
    oracle_client_path: /opt/oracle/instantclient_23_3

# Path Definitions for Local Datasets
datasets:
  chembl_indications_path: ${oc.env:HOME}/EBI/repos/clinical_mining/data/inputs/chembl_drug_indication.jsonl # ???
  disease_index_path: ${oc.env:HOME}/EBI/repos/clinical_mining/data/inputs/disease # null
  molecule_index_path: ${oc.env:HOME}/EBI/repos/clinical_mining/data/inputs/chembl_molecule # null
  ttd_path: ${oc.env:HOME}/EBI/repos/clinical_mining/data/inputs/P1-05-Drug_disease.txt # null
  ema_path: ${oc.env:HOME}/EBI/repos/clinical_mining/data/inputs/medicines-output-medicines-report_en.xlsx # null
  pmda_path: ${oc.env:HOME}/EBI/repos/clinical_mining/data/inputs/pmda_approvals.pdf # null
  output_path: ${oc.env:HOME}/EBI/repos/clinical_mining/data/outputs/clinical_precedence # ???

# Input Data Sources - Each key becomes the name of a DataFrame available to the pipeline steps.
inputs:
  chembl_curation:
    format: parquet
    path: /Users/irenelopez/EBI/repos/clinical_mining/data/outputs/chembl_indications/2101.parquet
  chembl_indications_raw:
    format: json
    path: ${datasets.chembl_indications_path}
  molecule_index_spark:
    format: parquet
    path: ${datasets.molecule_index_path}
  disease_index_spark:
    format: parquet
    path: ${datasets.disease_index_path}

  studies:
    format: db_table
    select_cols:
      - nct_id
      - overall_status
      - phase
      - study_type
      - start_date
      - why_stopped
      - number_of_arms
      - official_title
  interventions:
    format: db_table
    select_cols:
      - nct_id
      - intervention_type
      - name
  conditions:
    format: db_table
    select_cols:
      - nct_id
      - downcase_name
  study_references:
    format: db_table
    select_cols:
      - nct_id
      - pmid
      - reference_type
  designs:
    format: db_table
    select_cols:
      - nct_id
      - primary_purpose
  brief_summaries:
    format: db_table
    select_cols:
      - nct_id
      - description
  # countries:
  #   format: db_table
  #   select_cols:
  #     - nct_id
  #     - name
  # baseline_measurements:
  #   format: db_table
  #   select_cols:
  #     - nct_id
  #     - category
  #     - title
  #     - param_value

  

# =============================
# PIPELINE DEFINITION
# =============================

pipeline:
  # SETUP: Steps to prepare data needed by later stages (e.g., loading mapping tables).
  setup:
    # - name: chembl_curation
    #   function: clinical_mining.data_sources.chembl.curation.extract_chembl_ct_curation
    #   parameters:
    #     db_host: ${db_properties.chembl.host}
    #     db_port: ${db_properties.chembl.port}
    #     db_service: ${db_properties.chembl.service}
    #     db_user: ${db_properties.chembl.user}
    #     db_password: ${db_properties.chembl.password}
    #     oracle_client_path: ${db_properties.chembl.oracle_client_path}
    - name: trials
      function: clinical_mining.data_sources.aact.extract_clinical_trials
      parameters:
        studies: $studies
        additional_metadata: ['$study_references', '$designs', '$brief_summaries']
        aggregation_specs: 
          pmid: 
            group_by: nct_id
            alias: literature

  # GENERATE: Steps that generate the core drug/indication DataFrames.
  generate:
    - name: aact_indications
      function: clinical_mining.data_sources.aact.extract_drug_indications
      parameters:
        interventions: $interventions
        conditions: $conditions
    - name: chembl_indications
      function: clinical_mining.data_sources.chembl.indications.extract_chembl_indications
      parameters:
        raw_indications: $chembl_indications_raw
        exclude_trials: true
    - name: ttd_indications
      function: clinical_mining.data_sources.ttd.extract_ttd_indications
      parameters:
        indications_path: ${datasets.ttd_path}
    - name: ema_indications
      function: clinical_mining.data_sources.ema.extract_ema_indications
      parameters:
        indications_path: ${datasets.ema_path}
        spark: $spark_session
    - name: pmda_raw
      function: clinical_mining.data_sources.pmda.parse_pmda_approvals
      parameters:
        pmda_path: ${datasets.pmda_path}
    - name: pmda_indications
      function: clinical_mining.data_sources.pmda.extract_pmda_indications
      parameters:
        df: $pmda_raw
        spark: $spark_session

  # POST-PROCESS: Final transformation steps that run sequentially on the unified `indications` DataFrame.
  post_process:
    - name: indications
      function: clinical_mining.utils.polars_helpers.union_dfs
      parameters:
        dfs: [$aact_indications, $chembl_indications, $ttd_indications, $ema_indications, $pmda_indications]
    - name: indications_w_metadata
      function: clinical_mining.utils.polars_helpers.join_dfs
      parameters:
        dfs: [$indications, $trials]
        join_on: studyId
        how: left
    - name: indications_with_clinical_phase
      function: clinical_mining.utils.polars_helpers.coalesce_column
      parameters:
        df: $indications_w_metadata
        output_column_name: clinicalPhase
        input_column_names: ["phase", "phase_right"]
        drop: true
    - name: output_clinical_evidence
      function: clinical_mining.utils.mapping.map_entities
      parameters:
        spark: $spark_session
        clinical_associations: $indications_with_clinical_phase
        disease_index: $disease_index_spark
        drug_index: $molecule_index_spark
        chembl_curation: $chembl_curation
        drug_column_name: drugFromSource
        disease_column_name: diseaseFromSource
        ner_cache_path: ".cache/ner/2025-11-03.parquet"
    - name: output_clinical_associations
      function: clinical_mining.dataset.ClinicalAssociation.from_evidence
      parameters:
        evidence: $output_clinical_evidence
